<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Application{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
    </head>
    <body>
        {% block body %}
            <header>
                {% block sidebar %}
                  <nav class="navbar  navbar-expand-lg navbar-dark pink scrolling-navbar">
                        <a class="navbar-brand"  href="/"><img width="50" height="50" src="{{ asset('/uploads/logo.png') }}"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                         <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                
                                <li  class="nav-item"><a class="nav-link" href="{{path('home_show',{slug:'about'})}}">{{'about'|trans}}</a></li>

                                <li  class="nav-item"><a class="nav-link" href="{{path('home_show',{slug:'privacy'})}}">{{'privacy'|trans}}</a></li>

                                <li  class="nav-item"><a class="nav-link" href="{{path('contact')}}">{{'contact'|trans}}</a></li>

                                {% if is_granted('ROLE_USER') %}
                                    <li  class="nav-item"><a class="nav-link" href="{{path('profile')}}">{{'user.profile'|trans}}</a></li>
                                {% else %}
                                <li  class="nav-item"><a class="nav-link" href="{{path('register')}}">{{ 'user.register'|trans }}</a></li>
                                <li  class="nav-item"><a class="nav-link" href="{{path('login')}}">{{ 'user.login'|trans }}</a></li>
                                {% endif %}
                            </ul>
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown" style="float: right">
                                    <!-- <a class="nav-link dropdown-toggle" id="language_switcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"></i></a> -->
                                    {% if app.request.locale == 'hi' %}
                                        <a class="nav-link dropdown-toggle" href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'_locale': 'hi'})) }}" id="language_switcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fa fa-globe"></i> Hindi</a>
                                    {% else %}
                                        <a class="nav-link dropdown-toggle" href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}" id="language_switcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"></i> English</a>
                                    {% endif %}
                                    <div class="dropdown-menu" aria-labelledby="language_switcher">
                                        {% if app.request.locale == 'hi' %}
                                            <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}"><span class="flag flag-us"> </span>  English</a>
                                        {% else %}
                                        <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'_locale': 'hi'})) }}"><span class="flag flag-ru"> </span>  Hindi</a>
                                       {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                {% endblock %}
            </header>
           <main>
                <div class="container">
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
                {% block content %}{% endblock %}
                </div>
            </main>
            <footer class="page-footer font-small blue pt-2">
                 <div class="footer-copyright text-center py-3">© 2020 Copyright:</div>
            </footer>
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        {% endblock %}
    </body>
</html>
